<div class="container">
  <h1 class="text-center fw-bold text-uppercase">Editing</h1>

  <%= render "form", restaurant: @restaurant %>
  <br>

  <div>
    <%= link_to "🔙 Back", restaurants_path, class:"btn btn-primary" %>
  </div>
</div>
